<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.fosstveit.atbuss"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AtBussApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusStopActivity"
            android:label="@string/title_activity_bus_stop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.fosstveit.atbuss.MainActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.fosstveit.atbuss.MainActivity" />
        </activity>
        <activity
            android:name=".BusEventActivity"
            android:label="@string/title_activity_bus_event" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.fosstveit.atbuss.BusStopActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.fosstveit.atbuss.MainActivity" />
        </activity>
        <activity
            android:name=".AskOracleActivity"
            android:label="@string/title_activity_ask_oracle" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.fosstveit.atbuss.MainActivity" />
        </activity>

        <receiver android:name=".utils.BusEventAlarm" />
    </application>

</manifest>